<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Achievements</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/achieve.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/achi.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/navbar.css') }}"
    />
  </head>
  <body>
    <div>
      <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="/navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <spanclass ="navbar-toggler-icon"></spanclass>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item" id="img2">
                <img
                  id="size"
                  src="../static/Images/rvlogo2.png"
                  alt="rvlogo"
                />
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active text-white"
                  id="home"
                  aria-current="page"
                  href="/"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{{ url_for('events') }}"
                  >Events</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{{ url_for('chatbot') }}"
                  >Chatbot</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link text-white"
                  href="{{ url_for('clubs_page') }}"
                  >Clubs</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link text-white"
                  href="{{ url_for('achievements') }}"
                  >Achievements</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <!-- Carousel -->
    <div id="carouselExampleCaptions" class="carousel slide">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="../static/Images/NCC2.png"
            class="d-block w-100"
            alt="image"
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="https://source.unsplash.com/1400x400/?graduation college"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="https://source.unsplash.com/1400x400/?computers"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <br /><br /><br /><br />

    <!-- About Section - Home Page -->
    <section id="about" class="about">
      <div
        class="container"
        align="justify"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="row align-items-xl-center gy-5">
          <div class="col-xl-5 content">
            <h2>Achievements</h2>
            <p>
              RVCE ranked 2nd among Technical Institutions selected for the
              World Bank supported TEQIP Phase II Sub Comp: 1.2, facilitated by
              MHRD GOI. World Bank supported TEQIP Phase II – Centre of
              Excellence in Macroelectronics for 3 years (2015-2018). RVCE
              ranked as the top institute (No:1) in the country among the self
              financed engineering for Return on Investment(RoI) / Value for
              Money for students by Outlook in June 2013. RVCE is also No 1 in
              the area of sport under VTU in Karnataka among engineering
              colleges. Ministry of Human Resources Development (GoI) chose RVCE
              for showcasing India’s new Accreditation process during the review
              by International Observers. Strong R&D focus: Completed over 100
              projects, The institute has about 45 Ongoing projects from various
              funding agencies including DST, DBT, DRDO and its affiliated
              agencies, UGC, VTU, AICTE, CII, and VGST Karnataka ( a
              transformation from about Rs.7 Crores in 47 years to close to Rs
              45 Crores of approvals in 3 years).
            </p>
            <!-- <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a> -->
          </div>

          <div class="col-xl-7">
            <div class="row gy-4 icon-boxes">
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box">
                  <img
                    class="d-flex"
                    src="../static/Images/SIH.png"
                    alt="Smart India Hackathon"
                  />
                  <h3>Smart India Hackathon-2022</h3>
                  <!-- <i class="bi bi-buildings"></i> -->
                  <p>
                    Team 6-pixels from Rvce won the Smart India Hackathon 2022.
                  </p>
                </div>
              </div>
              <!-- End Icon Box -->

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box">
                  <!-- <i class="bi bi-clipboard-pulse"></i> -->
                  <img
                    class="d-flex"
                    src="../static/Images/sports.png"
                    alt="sports"
                  />
                  <h3>Sports</h3>
                  <p>
                    Our college has consistently excelled in the realm of
                    sports, carving out a name for itself through a myriad of
                    achievements. 
                  </p>
                </div>
              </div>
              <!-- End Icon Box -->

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="icon-box">
                  <!-- <i class="bi bi-command"></i> -->
                  <img
                    class="d-flex"
                    src="../static/Images/IEEE.png"
                    alt="IEEE"
                  />
                  <h3>IEEE</h3>
                  <p>
                    Our college has made remarkable strides in the realm of IEEE conferences, showcasing its commitment to academic excellence and innovation. Over the years, our faculty and students have consistently contributed groundbreaking research papers, securing prestigious awards and recognition at IEEE conferences on a global scale
                  </p>
                </div>
              </div>
              <!-- End Icon Box -->

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
                <div class="icon-box">
                  <!-- <i class="bi bi-graph-up-arrow"></i> -->
                  <img
                    class="d-flex"
                    src="../static/Images/trophy.png"
                    alt="trophy"
                  />
                  <h3>Delares sapiente</h3>
                  <p>
                    Sint et dolor voluptas minus possimus nostrum. Reiciendis
                    commodi eligendi omnis quideme lorenda
                  </p>
                </div>
              </div>
              <!-- End Icon Box -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>

    <hr />

    <div class="nss">
      <h1>NSS-contributions</h1>
    </div>

    <div class="nss">
      <img
        class="d-block align-self-center"
        src="../static/Images/NSS.png"
        alt="NSS"
      />
    </div>

    <div class="mx-5 my-5">
      <p class="mx-auto">
        <b>1.Utsarga Marathon (5th June)</b> This is one of the flagship event
        of our club , this year we had conducted a marathon for the cause of
        education and eradication of child labour , in this event we had
        collected funds from staffs and students to participate in the marathon
        and donated the same to education of under privileged children.
      </p>

      <p>
        <b>2.Har Gharana Tiranga (13,14,1th august)</b>

        To support the Government to achieve its goal and to make sure that RVCE
        be a part of this campaign, NSS RVCE has taken initiative to distribute
        National Flags to the students, faculty and staff at Rs.22
      </p>

      <p>
        <b
          >3.Eco-friendly Ganesha Making-Bengaluru Ganesh Utsav (28th August)</b
        >

        A total of 3560 participants participated in the event and successfully
        made their clay Ganesha. After the event it was declared that a new
        Guinness World Record had been set for the largest number of
        participants making clay Ganesha in a limited time. It was declared as a
        new world record by Guinness World Record adjudicator Rishi Nath. Later
        participation certificates were given to the participants and
        certificates are to be given to volunteers as well. 3 activity points
        are to be provided to both participants and volunteers from RVCE.
      </p>
    </div>
  </body>
</html>
