{% extends 'events.html' %} {% block switchbar_section %}

<!-- Switchbar Section -->
<section id="switchbar_section">
  <div id="switchbar_container">
    {% if category == "upcoming" %}
    <a href="{{ url_for('all_in_one', category='upcoming') }}">
      <button class="left_btn switchbar_btn_up">Upcoming</button></a
    >
    <a href="{{ url_for('all_in_one', category='ongoing') }}"
      ><button class="switchbar_btn">Ongoing</button></a
    >
    <a href="{{ url_for('all_in_one', category='completed') }}"
      ><button class="switchbar_btn right_btn">Completed</button></a
    >

    {% elif category == "ongoing" %}
    <a href="{{ url_for('all_in_one', category='upcoming') }}">
      <button class="left_btn switchbar_btn">Upcoming</button></a
    >
    <a href="{{ url_for('all_in_one', category='ongoing') }}"
      ><button class="switchbar_btn_on">Ongoing</button></a
    >
    <a href="{{ url_for('all_in_one', category='completed') }}"
      ><button class="switchbar_btn right_btn">Completed</button></a
    >

    {% elif category == "completed" %}
    <a href="{{ url_for('all_in_one', category='upcoming') }}">
      <button class="left_btn switchbar_btn">Upcoming</button></a
    >
    <a href="{{ url_for('all_in_one', category='ongoing') }}"
      ><button class="switchbar_btn">Ongoing</button></a
    >
    <a href="{{ url_for('all_in_one', category='completed') }}"
      ><button class="switchbar_btn_com right_btn">Completed</button></a
    >

    {% else %}
    <p>Invalid (category = {{category}})</p>
    {% endif %}
  </div>
</section>
{% endblock %} {% block genEvents %}

<!-- Landing Image -->
<div class="add_img_margin">
  <!-- <img src="https://i.ibb.co/X87YJ1B/Admin-block.jpg" class="img-fluid" alt="Wild Landscape" /> -->
  {% if category == "upcoming" %}
  <h1 class="sub_title">Upcoming Events</h1>
  {% elif category == "ongoing" %}
  <h1 class="sub_title">Ongoing Events</h1>
  {% elif category == "completed" %}
  <h1 class="sub_title">Completed Events</h1>
  {% endif %}
</div>

<!-- Section Separator -->
<div class="section_separator"></div>

<!-- Sports -->
<section id="sports_section">
  <div class="sub_title_det_new sub_heading">Sports</div>
  <div class="addmargin row row-cols-1 row-cols-md-3 g-4">
    {% for post in posts_dict if post.tag == "s" and post.category.lower() ==
    category %}
    <div class="col">
      <div class="card_align card">
        <img
          src="{{ post.image }}"
          class="img_align_card card-img-top"
          alt="Hollywood Sign on The Hill"
        />
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <div>
            <p class="card-text">{{ post.date_str }}</p>
            <a
              href="{{url_for('eventDetail', title=post.title,
              date=post.date_str, des = post.desc,
              image=post.image, host=post.clubName)}}"
              ><button class="explore_button">Explore</button></a
            >
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<!-- Section Separator -->
<div class="section_separator"></div>

<!-- Technical -->
<section id="technical_section">
  <div class="sub_title_det_new sub_heading">Technical</div>
  <div class="addmargin row row-cols-1 row-cols-md-3 g-4">
    {% for post in posts_dict if post.tag == "t" and post.category.lower() ==
    category %}
    <div class="col">
      <div class="card_align card">
        <img
          src="{{ post.image }}"
          class="img_align_card card-img-top"
          alt="Hollywood Sign on The Hill"
        />
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <div>
            <p class="card-text">{{ post.date_str }}</p>
            <a
              href="{{url_for('eventDetail', title=post.title,
              date=post.date_str, des = post.desc,
              image=post.image, host=post.clubName)}}"
              ><button class="explore_button">Explore</button></a
            >
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<!-- Section Separator -->
<div class="section_separator"></div>

<!-- Cultural -->
<section if="cultural_section">
  <div class="sub_title_det_new sub_heading">Culutral</div>
  <div class="addmargin row row-cols-1 row-cols-md-3 g-4">
    {% for post in posts_dict if post.tag == "c" and post.category.lower() ==
    category %}
    <div class="col">
      <div class="card_align card">
        <img
          src="{{ post.image }}"
          class="img_align_card card-img-top"
          alt="Hollywood Sign on The Hill"
        />
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <div>
            <p class="card-text">{{ post.date_str }}</p>
            <a
              href="{{url_for('eventDetail', title=post.title,
              date=post.date_str, des = post.desc,
              image=post.image, host=post.clubName)}}"
              ><button class="explore_button">Explore</button></a
            >
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
