<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chatbot</title>

    <!-- Custom CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/chatbot.css') }}"
    />
  </head>

  <body>
    <!-- Chatbot section -->
    <section class="chatbot">
      <h2>Chatbot</h2>

      <!-- Form -->
      <form method="POST" action="/chatbot">
        <label for="user_input">Hello there! How can I assist you today?</label>
        <select name="user_input" id="user_input">
          {% for question, choices in questionnaire.items() %}
          <option value="{{ question }}" disabled selected>
            {{ question }}
          </option>
          {% for choice in choices %}
          <option value="{{ choice }}">{{ choice }}</option>
          {% endfor %} {% endfor %}
        </select>
        <button type="submit">Get Assistance</button>
      </form>

      <!-- Display user input and bot response -->
      {% if user_input %}
      <div class="conversation">
        <div class="user-message">
          <p>You: {{ user_input }}</p>
        </div>
        <div class="bot-message">
          <p>Bot Message: {{ response_text }}</p>
        </div>
      </div>
      {% endif %}
    </section>
  </body>
</html>
