<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Find Location</title>

    <!-- Favicon -->
    <link
      rel="icon"
      href="{{ url_for('static', filename='favicon/favicon2.png') }}"
    />

    <!-- Custom CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/find_location.css') }}"
    />
  </head>

  <body>
    <div class="location-container">
      <h1 class="location-title">{{ location_data.name }}</h1>
      <p class="location-description">{{ location_data.description }}</p>

      <!-- Display the steps under location_data.steps as a list -->
      <h2 class="location-steps-title">Steps</h2>
      <ol class="location-steps">
        {% for step in location_data.steps %}
        <li class="location-step">{{ step }}</li>
        {% endfor %}
      </ol>

      <a
        class="location-map"
        href="{{ location_data.location }}"
        target="_blank"
        >View on Map</a
      >
      <br />
      <a class="location-back" href="{{ url_for('dashboard') }}"
        >Back to Home</a
      >
    </div>
  </body>
</html>
