<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Find Location</title>

    <!-- Favicon -->
    <link
      rel="icon"
      href="{{ url_for('static', filename='favicon/favicon3.png') }}"
    />

    <!-- Custom CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/find_location.css') }}"
    />
  </head>
  <body>
    <div class="location-container">
      <div class="location-details">
        <h1 class="location-title">{{ location_data.name }}</h1>
        <p class="location-description">{{ location_data.description }}</p>

        <!-- Display the steps under location_data.steps as separate div elements -->
        <h2 class="location-steps-title">Steps</h2>
        <div class="location-steps">
          {% for step in location_data.steps %}
          <div class="location-step">{{ step }}</div>
          {% endfor %}
        </div>

        <a class="location-back" href="{{ url_for('dashboard') }}"
          >Back to Home</a
        >
      </div>

      <div class="location-map-section">
        <h2 class="location-map-title">View in Map</h2>
        <!-- Make the Google Map Image clickable -->
        <a
          class="location-map-link"
          href="{{ location_data.location }}"
          target="_blank"
        >
          <img
            class="location-map-image"
            src="https://cdn-icons-png.flaticon.com/512/355/355980.png"
            alt="Google Map"
          />
        </a>
      </div>
    </div>
  </body>
</html>
