.about {
    --background-color: #f4f4f4;
  }
  
  .about .content h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    padding: 10px 20px;
    background: rgba(var(--primary-color-rgb), 0.05);
    color: var(--primary-color);
    border-radius: 7px;
    display: inline-block;
  }
  
  .about .content h2 {
    font-weight: 700;
  }
  
  .about .content p:last-child {
    margin-bottom: 0;
  }
  
  .about .content .read-more {
    background: var(--primary-color);
    color: var(--contrast-color);
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 12px 24px;
    border-radius: 5px;
    transition: 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .about .content .read-more i {
    font-size: 18px;
    margin-left: 5px;
    line-height: 0;
    transition: 0.3s;
  }
  
  .about .content .read-more:hover {
    background: rgba(var(--primary-color-rgb), 0.8);
    padding-right: 19px;
  }
  
  .about .content .read-more:hover i {
    margin-left: 10px;
  }
  
  .about .icon-box {
    padding: 50px 40px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: all 0.3s ease-out 0s;
    background-color: #ffffff;
  }
  
  .about .icon-box i {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 0;
    transition: all 0.4s ease-out 0s;
    background-color: rgba(var(--primary-color-rgb), 0.05);
    color: var(--primary-color);
  }
  
  .about .icon-box h3 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
  }
  
  .about .icon-box p {
    margin-bottom: 0;
  }
  
  .about .icon-box:hover i {
    background-color: var(--primary-color);
    color: var(--contrast-color);
  }
  
  .about .icon-boxes .col-md-6:nth-child(2) .icon-box,
  .about .icon-boxes .col-md-6:nth-child(4) .icon-box {
    margin-top: -40px;
  }
  
  @media (max-width: 768px) {
  
    .about .icon-boxes .col-md-6:nth-child(2) .icon-box,
    .about .icon-boxes .col-md-6:nth-child(4) .icon-box {
      margin-top: 0;
    }
  }

