/* General Layout */
html {
  background-color: rgb(250, 239, 239);
}

body {
  background-color: white;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

#chatbot-link {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  border-radius: 50%;
  z-index: 9999; /* Ensure it's above other elements */
}

/* Chatbot Image */
#chatbot-image {
  width: 150px;
  height: 150px;
  border-radius: 50%; /* Make the image round */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a shadow for visual effect */
  transition: transform 0.2s, box-shadow 0.2s; /* Add a smooth transition effect */
}

#chatbot-image:hover {
  transform: scale(1.1); /* Increase the size on hover */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Add more shadow on hover */
}
