.location-container {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 50px;
}

.location-details {
  flex: 1;
  text-align: left;
  padding-right: 20px; /* Add space between left and right sections */
}

.location-title {
  color: #333;
}

.location-description {
  color: #666;
  font-size: 1.2em;
}

.location-steps-title {
  color: #333;
  font-size: 1.2em;
}

.location-steps {
  text-align: left;
  margin: 20px 0;
  padding: 0;
}

.location-step {
  margin: 10px 0;
  font-size: 1.1em;
}

.location-back {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  transition: background-color 0.3s;
  text-align: center;
}

.location-back:hover {
  background-color: #0056b3;
}

.location-map-section {
  flex: 1;
  text-align: center;
}

.location-map-title {
  color: #333;
  font-size: 1.2em;
  margin-top: 0;
}

.location-map-image {
  max-width: 100%; /* Ensure the image fits within the container */
  width: 50%;
  height: auto;
  border-radius: 5px;
}
